if [ ! -d ".venv" ]; then
  echo "Installing virtualenv for $(python -V)"
  python -m venv .venv
  echo "Activating $(python -V) virtualenv"
  source $PWD/.venv/bin/activate
  pip install -e .
fi

source $PWD/.venv/bin/activate
export PATH=$(git rev-parse --show-toplevel)/bin:$PATH:$PWD/.venv/bin
